<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197289920803-45aj52g994vplvrhj69u9fdhrnbrjnkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197289920803-45aj52g994vplvrhj69u9fdhrnbrjnkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>197289920803-95rqi1pt634q1182jrgo6haflti09s0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY40nWQy3xAAlQaQPX7BCvj14M2VvgmLc</string>
	<key>GCM_SENDER_ID</key>
	<string>197289920803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gmailresponsive</string>
	<key>PROJECT_ID</key>
	<string>fir-notificationdemo-c6f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notificationdemo-c6f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197289920803:ios:9470b9d8a70194959be496</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notificationdemo-c6f9b.firebaseio.com</string>
</dict>
</plist>